
@import '../../styles/base.scss';
.notice-tab-box{
  padding: 0 Px(30);
  .notice-item{
    padding:Px(30) 0;
    font-size: $baseSize;
    .item-stock{
      font-size: $smallSize;
      color:#777;
      .stock-num{
        color:$error;
        margin-left:Px(30);
        &.up{
          color: $error;
        }
        &.down{
          color: $success;
        }
      }
    }
    .item-title{
      font-size:$bigerSize;
      margin:Px(8) 0;
    }
    .item-desc{
      .origin{
        border: 1px solid $warning;
        color: $warning;
        display: inline-block;
        padding: Px(0.1) Px(6);
        border-radius: Px(4);
        margin-right: Px(10);
      }
      font-size: $smallSize;
      .desc-time{
        color:$grayText;
      }
    }
  }
}
