@import '../../../styles/base.scss';
.market-box {
    overflow: hidden;
    // margin-top: Px(15);
}
.market-wrap {
    overflow: hidden;
    // border-top: 1px solid #ccc;
    .market-list {
        margin: 0 Px(30);
        .market-item {
            padding: Px(30) Px(10);
            // border-bottom: 1px solid #ccc;
        }
        .market-item:nth-last-of-type(1){
            border: 0;
        }
        .market-item .market-title {
            font-size: Px(26);
        }
        .market-item .market-desc {
            margin-top: Px(10);
            font-size: Px(32);
        }
    }
    
}