@import '../../../styles/base.scss';
.market-machine {
    .market-list {
      display: flex;
      justify-content: space-between;
      margin: 0 Px(24);
      padding: Px(18) 0;
      align-items: center;
      position: relative;
      .list-title {
        font-size: Px(27);
        margin-bottom: Px(7.5);
        color: $grayText;
      }
      .list-content {
        font-size: $bigerSize;
        .list-label {
          margin-right: Px(12);
          .list-key {
            color: $warning;
            ;
          }
        }
      }
      .icon1 {
        width: 1.40rem;
        height: 1.6266rem;
        background: url('../../../images/machine-images/today_date.png') no-repeat;
        background-size: 100% 100%;
      }
      .icon2 {
        width: 1.28rem;
        height: 1.5066rem;
        background: url('../../../images/machine-images/allman_make.png') no-repeat;
        background-size: 100% 100%;
      }
      .icon3 {
        width: 1.1866rem;
        height: 1.6933rem;
        background: url('../../../images/machine-images/myself_change.png') no-repeat;
        background-size: 100% 100%;
      }
      .icon4 {
        width: 1.16rem;
        height: 1.733rem;
        background: url('../../../images/machine-images/today_stop.png') no-repeat;
        background-size: 100% 100%;
      }
    }
  }