@import '../../../styles/base.scss';
.notice-component{
  display: flex;
  margin:0 Px(30);
  justify-content: space-between;
  align-items: center;
  padding-top:Px(20);
  padding-bottom:Px(20);
  .notice-icon{
    width: Px(48);
    height: Px(40);
    @include imgBg('../homeNotice-images/sound.png');
    &.red{
      @include imgBg('../homeNotice-images/sound_red.png');
    }
  }
  .right-icon{
    width: Px(15);
    height: Px(26);
    @include imgBg('../homeNotice-images/right-icon-black.png');
  }
  .anim{
    transition: all 1s linear;
    margin-top: Px(-50);
  } 
  .notice-content{
    flex:1;
    margin:0 Px(20);
    height: Px(50);
    overflow: hidden;
    .notice-item{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: Px(50);
      line-height: Px(50);
    }
  }
}