@import '../../../styles/base.scss';
.topic-box {
    overflow: hidden;
    margin-top: Px(15);
}
.topic-wrap {
  overflow: hidden;
  margin: Px(30);
  border-radius: $baseRadius;
}
.topic-container .topic-slide {
    overflow: hidden;
    img {
        display: block;
        width: 100%;
    }
}