@function Px($px) {
    @return $px / 750 * 10rem;
}
$baseSize:Px(30);
$bigSize:Px(36);
$smallSize:Px(27);
$warning:#FF8700;
$primary:#2E90E5;
@mixin imgBg($url) {
    background-image: $url;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
