// 白色主题
@import './base.scss';
.white{
  background: $whiteBg;
  color:$blackBg;
  .header-box{
    background: #1C2B48;
  }
  // 分隔线
  .split-line {
    background: $whiteDivision;
    height: Px(18);
  }
  // 底部边框
  .bot-border{
    border-bottom: Px(1) solid $whiteBd;
  }
  .top-border{
    border-top: Px(1) solid $whiteBd;
  }
}
// 黑色主题
.black{
  background: $blackBg;
  color: $whiteText;
  // 分隔线
  .split-line {
    background: $blackDivision;
    height: Px(18);
  }
  // 底部边框
  .bot-border{
    border-bottom: Px(1) solid $blackBd;
  }
  .top-border{
    border-top: Px(1) solid $blackBd;
  }
}