// 白色主题
@import './base.scss';
.white{
  background: $whiteBg;
  color:$blackBg;
  .header-box{
    background: #1C2B48;
  }
  // 分隔线
  .split-line {
    background: $whiteDivision;
    height: Px(18);
  }
  // 底部边框
  .bot-border{
    border-bottom: Px(1) solid $whiteBd;
  }
  .top-border{
    border-top: Px(1) solid $whiteBd;
  }
}
// 黑色主题
.black{
  background: $blackBg;
  color: $whiteText;
  // 分隔线
  .split-line {
    background: $blackDivision;
    height: Px(18);
  }
  // 底部边框
  .bot-border{
    border-bottom: Px(1) solid $blackBd;
  }
  .top-border{
    border-top: Px(1) solid $blackBd;
  }
}
.swiper-pagination .swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
  border-radius: 50% !important;
  background-color: initial !important;
  border: 1px solid #fff !important;
  margin-right: 0.1448rem !important;
  margin-left: 0px !important;
  opacity: 1 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-pagination {
  bottom: 8px !important;
  z-index: 2;
  line-height: 0.213rem;
  transform: translate3d(0px, 0px, 1px) scale(1);
}
