@import '../../styles/base.scss';
.footer-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: Px(96);
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  .footer-item{
    font-size: Px(30);
  }
}