
@import '../../styles/base.scss';
.header-box{
  position: fixed;
  left:0;
  top:0;
  right:0;
  display: flex;
  font-size: Px(30);
  padding:Px(20) Px(20);
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  background: #1C2B48;
  color: #ddd;
  height: 48px;
  .input-box{
    position: relative;
    width: 55%;
    box-sizing: border-box;
    border-radius: Px(5);
    height: 28px;
    border: Px(1) solid #000;
    background: #49556D;
    display: flex;
    align-items: center;
    font-size: Px(24);
    .input{
      color:#ddd;
      position: absolute;
      width: 100%;
      background: none;
      border: none;
      font-size: Px(26);
      box-sizing: border-box;
      padding-left:Px(75);
      left:0;
      top:0;
      bottom:0;
      right:0;
    }
    input::-webkit-input-placeholder {
      color: #ddd;
      font-size: 12px;
      padding-left:1px;
      text-align: left;
    }
    .search-icon{
      margin-left:Px(30);
      margin-right:Px(30);
      width: Px(24);
      height: Px(24);
      background-image: url('../../images/home/header-images/search.png');
      background-size: 100% 100%;
    }
  }
  .scan-icon{
    width: Px(40);
    height: Px(40);
    background-image: url('../../images/home/header-images/scan.png');
    background-size: 100% 100%;
  }
  .message-icon{
    width: Px(44);
    height: Px(44);
    background-image: url('../../images/home/header-images/message.png');
    background-size: 100% 100%;
  }
}