@import '../../styles/base.scss';
.Title-box {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: Px(65);
    line-height: Px(65);
    img {
        display: block;
        float: left;
        width: Px(20);
        margin-top: Px(18);
    }
    .txt {
        float: left;
        margin-left: Px(10);
        font-size: Px(24);
    }
}