@import '../../styles/base.scss';
.Title-box {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: Px(90);
    line-height: Px(90);
    img {
        display: block;
        float: left;
        width: Px(20);
        margin-top: Px(30);
    }
    .txt {
        float: left;
        margin-left: Px(20);
        font-size: $baseSize;
    }
}