@import '../../styles/base.scss';
.topic-box {
    margin: Px(30);
    margin-bottom:Px(40);
    height: Px(200);
    border-radius: $radiusSize;
    box-sizing: border-box;
    overflow: hidden;
    .swiper-slide{
      height: Px(200);
    }
  }
  