@import '../../styles/base.scss';
.tab-no-more-data {
  margin-top: 30px;
  .nodata-state {
    margin: 0 auto;
    width: Px(368);
    height: Px(368);
    background-image: url('../../images/tab-images/no_data.jpg');
    background-size: 100% 100%;
  }
  .load-fail-state {
    padding: Px(40);
    color: $grayText;
    text-align: center;
    font-size: $baseSize;
  }
  .loading-state {
    padding: Px(40);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.text {
  font-size: $baseSize;
  color: $grayText;
  margin-left: 10px;
}