@import '../../../../styles/base.scss';
.event-box{
  padding:Px(30) 0;
}
.event-item{
  display: flex;
  .item-left{
    width: Px(140);
    text-align: center;
    .item-year{
      color:$grayText;
      font-size: Px(24);
      text-align: right;
      margin-right: Px(20);
      margin-top:Px(15);
    }
    .item-date{
      font-size: $smallSize;
      color:#FFF;
      padding:2px 5px;
      border-radius: Px(5);
      line-height: 1;
      margin:0 auto;
      background: rgb(203,203,203);
      &.night{
        color:#ccc;
        background: #2d3438;;
      }
    }
  }
  .item-content{
    border-left: 1px solid #e3e5e7;
    position: relative;
    &.night{
      border-left: 1px solid #2d3438;
    }
    .point {
      position: absolute;
      left: -6px;
      top: Px(3);
      box-sizing: border-box;
      width: 10px;
      height: 10px;
      line-height: Px(18.5);
      background: #fff;
      border-radius: 50%;
      text-align: center;
      box-shadow: 0px 0px 3px #bbb;
      &.night{
        background: #2d3438;
      }
      .inner-point {
        position: absolute;
        width: 6px;
        height: 6px;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display: inline-block;
        background: #ccc;
        border-radius: 6px;
      }
    }
     padding:0 Px(20);
      .one-event{
        margin-bottom:Px(40);
        .item-stock{
          margin-top:Px(-5);
          margin-bottom:Px(8);
          font-size: $smallSize;
          color:#777;
          .stock-num{
            color:$error;
            margin-left:Px(30);
            &.up{
              color: $error;
            }
            &.down{
              color: $success;
            }
          }
        }
        .title{
          font-size: $bigerSize;
        }
      }
  }
}