@import '../../../../styles/base.scss';
.report-box{
  padding: 0 Px(30);
}
.report-item{
  padding:Px(30) 0;
  font-size: $baseSize;
  .item-stock{
    font-size: $smallSize;
    color:#777;
    .stock-num{
      color:$error;
      margin-left:Px(30);
      &.up{
        color: $error;
      }
      &.down{
        color: $success;
      }
    }
  }
  .item-title{
    font-size:$bigerSize;
    margin:Px(8) 0;
  }
  .item-desc{
    margin-top:Px(15);
    .rt{
      float: right;
      color:#666;
    }
    .label{
      border: 1px solid $warning;
      color: $warning;
      display: inline-block;
      padding: 0 Px(6);
      line-height: 1.2;
      padding-top:Px(3);
      border-radius: Px(4);
    }
    .origin{
      display: inline-block;
      color: $grayText;
      margin-left: Px(10);
    }
    font-size: $smallSize;
    color:$grayText;
    .desc-time{
      margin-left:Px(10)
    }
  }
}